body{
  display: flex;
 background-image: linear-gradient(to right, #ffecd2 0%, #fcb69f 100%) !important;
 
 
 }
 .app{
  margin-top: 10%;
  margin-left: 5%;
 
 }
 
 .app h1{
   font-size: 80px;
   color: white;
 }
 
 input{
   /* -webkit-appearance: none; */
   border: none;
   background: none;
   outline: none;
   color: white;
   border-bottom: solid white 3px ;
   width: 50%;
  margin-top: 10% !important;
   font-size: 20px;
 }
 
 
 
 
 input::placeholder{
   font-size: 20px;
   color: white;
 }
 
 
 button{
   background: rgba(255, 0, 0, 0.437);
    color: white;
    margin-left: 5% !important;
    border-radius: 10%;
    width: 20%;
    
 }
 
 .ajax-section{
   width: 20%;
   margin-left: 20%;
   margin-top: 15%;
 
 }
 
 .card{
   background: black !important;
   border: none !important;
   color: white !important;
   border-radius: 10% !important;
   padding-top: 30%!important;
   padding-left: 10%;
 
 
 }

 #btn{
  border-bottom: none !important;
 }
